<table id = "piglist" class="table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">
          <button (click) = "sortByLocationAscending()" type="button" class="btn btn-light"> A->Z</button> <br>
          <button (click) = "sortByLocationDescending()" type="button" class="btn btn-light"> Z->A</button> <br> 
          Location</th>
        <th scope="col" >
          <button (click) = "sortByNameAscending()" type="button" class="btn btn-light"> A->Z</button> <br>
          <button (click) = "sortByNameDescending()" type="button" class="btn btn-light"> Z->A</button> <br> 
          Reported By</th>
        <th scope="col" >
          <button (click) = "sortByTimeAscending()" type="button" class="btn btn-light"> Early->Late</button> <br>
          <button (click) = "sortByTimeDescending()" type="button" class="btn btn-light"> Late->Early</button> <br> 
          Time Reported</th>
        <th scope="col" >
          <button (click) = "sortByStatusAscending()" type="button" class="btn btn-light"> Ready->Retrieved</button> <br>
          <button (click) = "sortByStatusDescending()" type="button" class="btn btn-light"> Retrieved->Ready</button> <br> 
          Status</th>
        <th scope="col">More Info</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor= "let pig of pigs[0]" >
        <td>{{pig.data.locationSelector}} </td>
        <td>{{pig.data.name}}</td>
        <td>{{pig.data.timeStamp | date:'MMM d, yyyy (hh:mm a)'}} </td>
        <td>{{pig.data.status}}</td>
        <td> <button (click) = "moreInfo(pig.key)" type = "button" class = "btn btn-info"> More Info</button> </td>
        <td> <button (click) = "onDelete(pig.key)" type="button" class="btn btn-danger">X</button> </td>
      </tr>
    </tbody>

</table>

<app-pig-add></app-pig-add>
