
<link rel = "stylesheet" href = "pig-add.component.css">

<button (click) = "displayForm()" id = "addNewPig" type="button" class="btn btn-primary btn-lg btn-block">CREATE PIG REPORT</button>

<div *ngIf = "pigReportDisplay" div class = "container" id = pigForm>
    <h1> Pig Report </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label>Name</label>
          <input type= "text" class="form-control" formControlName ="reporterName" placeholder= "Ex: John Doe">
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input type="number" class="form-control" formControlName ="reporterNumber" placeholder= "Ex: 1234567890">
        </div>
        <div class="form-group">
            <label>Breed </label>
            <input type="text" class="form-control" formControlName ="breed" placeholder= "Ex: Pot-bellied">
        </div>
        <div class="form-group">
            <label>PigID </label>
            <input type="number" class="form-control" formControlName ="PID" placeholder= "Ex: 0">
        </div>

        <div id = "predeterminedLocation">
            <label>Choose a Location: </label>
            <select  (change) = "displayCustomLocation($event)" formControlName = "locationSelect" class="form-select" >
                <option 
                *ngFor = "let location of locations"  value = {{location}} > {{location}} 
                </option>

                <option value = "AddNewLocation">Add New Location</option>
            </select>
        </div>

        <div *ngIf = "customLocation"> 
            <div class="form-group">
                <label>Location Name</label>
                <input type="text" class="form-control" formControlName ="location" placeholder= "Ex: SFU Burnaby">
            </div>
            <div class="form-group">
                <label>Latitude</label>
                <input type="text" class="form-control" formControlName ="latitude" placeholder= "Ex: 49.2827">
            </div>
            <div class="form-group">
                <label>Longitude</label>
                <input type="text" class="form-control" formControlName ="longitude" placeholder= "Ex: -123.1207">
            </div>
        </div>

        <div class="form-group">
            <label>Extra Notes </label>
            <input type="text" class="form-control" formControlName ="extra" placeholder= "Ex: Under the drinking fountain outside B9200">
        </div>

        <button id = "submitPig" type="submit" class="btn btn-primary">Submit</button>

        <button (click) = "closeForm()" id = "Exit" class="btn btn-primary">Close</button>
    </form>
</div>

