#pigForm{
    border: 2px solid black;
    width: 450px;
    height: 850px;
    position: fixed;
    left: 40vw;
    bottom:50px;
    background-color: aliceblue;
    z-index: 1000;

}

h1{
    text-align: center;
}

#Exit{
    float:right;
}

#locationSelect{
    margin-left: 5px;
}

#mapid{
    width: 500px;
    height: 500px;
    position: absolute;
}

#failName, #failNumber, #failBreed{
    color: red
}